<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chopmotto!!</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@oranebeast">
    <meta name="twitter:title" content="{{ ka }} {{ boom }}">
    <meta name="twitter:description" content="This is Chopmotto, where we chop proverbs and then glue them together.">
    <meta property="og:title" content="{{ ka }} {{ boom }}">
    <meta property="og:description" content="This is Chopmotto, where we chop proverbs and then glue them together.">
    <meta property="og:site_name" content="Chopmotto!!">
    <meta property="og:url" content="http://chopmotto.ml{{ url_for("smash", t=t, b=b) }}">
    <style>
      body {
        background: url('//unsplash.it/1920/1080/?random');
      }
      #logoo {
        height: auto;
        max-height: 150px;
        max-width: 374px;
      }
    </style>
  </head>
  <body>
          <div class="center-align container" style="height: 100%">
            <div class="row">
              <div class="col s12"><img id="logoo" class="responsive-img" src="//cdn.ijestfajnie.pl/media/chopmotto_d27DRrS_llydvEo.png"></div>
              <div class="col s12">
                <div id="ka" class="card-panel white black-text flow-text waves-effect waves-block">
                  {{ ka }}
                </div>
              </div>
              <div class="col s12">
                <div id="shuffle" class="card-panel black white-text flow-text waves-effect waves-block">
                  <i class="material-icons">shuffle</i>
                </div>
              </div>
              <div class="col s12">
                <div id="boom" class="card-panel white black-text flow-text waves-effect waves-block">
                  {{ boom }}
                </div>
              </div>
              <div class="col s12">
                <a class="right waves-effect blue white-text btn-floating btn-large modal-trigger" href="#infos">WTF?</a>
                <a class="left waves-effect red white-text btn-floating btn-large modal-trigger" href="{{ url_for("like", t=t, b=b) }}">{% if l > 0 %}{{ naturalsize(l) }}{% else %}<i class="material-icons">favorite</i>{% endif %}</a>
              </div>
            </div>
          </div>
    <div id="infos" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>This is Chopmotto, where we chop proverbs and then glue them together.</h4>
        <p class="flow-text">This is a fairly random experiment done in 2 hours by <a href="//twitter.com/Michcioperz">@Michcioperz</a> and <a href="//twitter.com/oranebeast">@oranebeast</a> from <a href="//wowsuchahn.ml">Team Known As AHN</a> in <a href="//python.org">Python</a> with <a href="//flask.pocoo.org">Flask</a> framework using <a href="//unsplash.com">Unsplash</a> <a href="//unsplash.it">API</a>.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Sup, bro</a>
      </div>
    </div>
    <script>
      $('.slider').slider({full_width: true, indicators: false});
      $('.slider').slider('pause');
      $("#ka").click(function() { window.location = "{{ url_for("smash", b=b)}}";});
      $("#shuffle").click(function() { window.location = "{{ url_for("smash")}}";});
      $("#boom").click(function() { window.location = "{{ url_for("smash", t=t)}}";});
      $(".modal-trigger").leanModal();
    </script>
  </body>
</html>
