<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chopmotto!!</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="//unsplash.it/1920/1080/?random">
          <div class="caption center-align valign-wrapper" style="height: 100%">
            <div class="row">
              <div class="col s12">
                <div id="ka" class="card-panel white black-text flow-text waves-effect waves-block">
                  {{ ka }}
                </div>
              </div>
              <div class="col s12">
                <div id="shuffle" class="card-panel black white-text flow-text waves-effect waves-block">
                  <i class="material-icons">shuffle</i>
                </div>
              </div>
              <div class="col s12">
                <div id="boom" class="card-panel white black-text flow-text waves-effect waves-block">
                  {{ boom }}
                </div>
              </div>
            </div>
            <a class="right waves-effect black white-text btn modal-trigger" href="#infos">WTF?</a>
          </div>
        </li>
      </ul>
    </div>
    <div id="infos" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Made by @Michcioperz and @oranebeast from Team AHN</h4>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cool story bro</a>
      </div>
    </div>
    <script>
      $('.slider').slider({full_width: true, indicators: false});
      $("#ka").click(function() { window.location = "{{ url_for("smash", b=b)}}";});
      $("#shuffle").click(function() { window.location = "{{ url_for("smash")}}";});
      $("#boom").click(function() { window.location = "{{ url_for("smash", t=t)}}";});
      $(".modal-trigger").leanModal();
    </script>
  </body>
</html>
